{{define "body"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>BookiBus</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Handlee&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");
      html {
        font-family: "Poppins", sans-serif;
      }
    </style>
  </head>

  <body>
    <main>
      <section style="width: 60%; margin: 4rem auto">
        <h2>Sign in and get started with BookiBus!</h2>
        <article style="margin: 2rem 0">
          <p>
            <strong>Username:</strong>
            <a href="mailto:{{.message.username}}">{{.message.username}}</a>
          </p>
          <p><strong>Password:</strong> {{.message.password}}</p>
        </article>
        <p>
          BookiBus account has been created for you. Your new account give you
          access to BookiBus dashboard.
        </p>
        <p style="margin: 2rem 0">
          To start using BookiBus, sign in with the username and password
          provided in this email.
        </p>
        <a
          href="{{.message.url}}"
          style="
            background-color: #5967FF;
            color: white;
            padding: 1rem 2rem;
            border-radius: 5px;
            text-decoration: none;
          "
          >Sign in to BookiBus</a
        >
      </section>
    </main>
  </body>
</html>
{{end}}
